$font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans serif';
$special-font-family: "Russo One";
$primary-color: #26A69A;
$secondary-color: #FF6766;
$link-color: #26A69A;
$link-hover-color: #FF6766;
$--link-color: #26A69A;